<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styler.css') }}">
    <link rel="icon" href="{{ url_for('static', filename= 'images/pizza-icon.png') }}" type = "image/x-icon">
    <script type="text/javascript" src="{{ url_for('static', filename='script/jscript.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/52c6999d49.js" crossorigin="anonymous"></script>
    <title>Home | M&amp;L Pizzeria</title>
</head>
<body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="menu">Menu</a>
      <a href="about">About</a>
      <a href="cart"></a>
      <a href="login"><img src="{{ url_for('static', filename='images/account.png') }}"></a>
    </div>
    <br>
    <h1>Welcome</h1>
    <hr>
    <br>
    <div class="slideshow-container">
    <h2>Recommended</h2>
    <div class="mySlides fade">
      <img src="{{ url_for('static', filename='images/pizza-salami.jpg') }}" style="width:55%">
    </div>
    <div class="mySlides fade">
      <img src="{{ url_for('static', filename='images/chocolate-chip-cookie.jpg') }}" style="width:55%">
    </div>
    <div class="mySlides fade">
      <img src="{{ url_for('static', filename='images/banana-smoothie.jpg') }}" style="width:55%">
    </div>
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <br>
    <div class="dots" style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
</body>
<footer>
  <div class="contents">
    <div class="grid-container-footer">
    <div class="grid-item-footer">
        <div class="icons">
            <p>Socials:</p>
            <a href="https://youtube.com/" class="media">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://twitter.com/" class="media">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://facebook.com/" class="media">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://instagram.com/" class="media">
              <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>